body {
  background-color: #262545;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 48px 0;
}

.search__bar > input {
  border-radius: 8px;
  padding: 12px 16px;
  width: 100%;
  border: 1px solid transparent;
}

.search__bar {
  max-width: 500px;
  margin: 0 auto;
  width: 100%;
}

.grid__container {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-gap: 2em;
  width: 100%;
  max-width: 500px;
}

.main__box {
  background-color: #565478;
  max-width: 500px;
  margin: 10px auto;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 8px;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #fff;
  padding: 15px 0;
  justify-content: center;
}

.box1 {
  background-color: #565478;
  grid-column: span 1 / span 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 8px;
  border-radius: 8px;
  color: #fff;
  font-size: 12px;
}
